<div class="font-semibold font-title">配置页面</div>
<p>
    <div>
        <label for="tabChoice">选择一个你想要显示的页面: </label>
        <select id="tabChoice" name="tabChoice">
            <option value="" selected="selected">(选择)</option>
            <option value="first">第一个页面</option>
            <option value="second">第二个页面</option>
        </select>
    </div>
</p>
