<div class="font-semibold font-title">
    Office 365开发入门指南
</div>
<p>
    《Office 365 开发入门指南》，本书已经于2018年9月份由北京大学出版社上市发行，可以通过 http://product.dangdang.com/25347066.html 进行购买。配套视频教程将于2019年2月底前在网易云课堂上架，教程相关的参考资料、范例代码、相关链接，请访问 https://github.com/chenxizhang/office365dev/tree/master/lessons https://aka.ms/office365devguide
</p>
