<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.9.1" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Office.js" version="1.1.0.11" targetFramework="net461" />
  <package id="OfficeUIFabric" version="2.1.0" targetFramework="net461" />
</packages>